
#mt {
    margin-top:1em;
}

#no-pad {
    padding:0;
}


#pl {
    padding-left:1em;
}
.section{
    text-align: center !important;

}

#save {
    margin:0 2em;
}

.columns {
    background-color:#424B5F;
}

.column {
    display:inline-block !important;
    vertical-align: middle;

}

.title:not(:last-child) {
    margin-bottom:1rem !important;
}

.figure {
    margin:0 !important;
    
}

.mt-col {
    margin-top:4em !important;
    text-align: left !important;

}

.Youtube {
    background-color:#FF0000 !important;
    border:none !important;
    color:white !important;
}

.Twitch {
    background-color:#6441A4 !important;
    border:none !important;
    color:white !important;
}

@media screen and (min-width:900px) {
    .container {
        width:800px !important;
    }

    .is-6 {
        font-size:1.5rem !important;
    }

    .is-small {
        font-size:1em !important;
    }


}